.main__header {
  grid-row: 1;
  grid-column: 1 / 3;
  background-color: green;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  max-width: 50px;
  padding: 5px;
}

.login__block {
padding-right: 20px;
display: flex;
justify-content: center;
align-items: center;
}

.login__link {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.profileAva__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

