.loginForm__container input, button {
	font-size: 18px;
	max-width: 250px;
}

.loginForm__container button {
	width: 100px;
}

.loginForm__container {
	font-size: 18px;
	margin-left: 15px;
}

.loginForm {
	display: grid;
	gap: 25px;
}

.rememberMe__label {
	max-width: max-content;
}

.apiErrors {
	border: red 1px solid;
	color: red;
	padding: 5px;
	width: max-content;
}

.apiErrors__container {
	display: grid;
	gap: 10px;
}