.field__container {
	position: relative;
	max-width: max-content;
}

.field {
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.field:focus {
	outline: none;
}

.field_error {
	border: 2px solid red;
}

.field__extra_error {
	color: red;
	position: absolute;
	right: 0;
	top: -25px;
}