.dialogs {
	display: grid;
	grid-template-columns: 1fr 2fr;
	height: 100%;
}

.dialogs__list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.messageTextArea {
	display: flex;
	height: 100%;
}

/* .messageTextArea textarea {
	width: 100%;
} */

.messages__list {
	display: grid;
	gap:50px;
	overflow-y: auto;
	max-height: 100%;
	margin: 0;
	align-items: center;
}

.messages {
	display: grid;
	align-items: end;
	margin-bottom: 100px;
	grid-template-rows: 1fr 80px;
	height: calc(100vh - 160px);
	max-width: 80%;
}